[2013-07-10 07:49] ghost opened #1 "Add a License"
A lack of license implies "All rights reserved".

[Vid related](https://www.youtube.com/watch?v=vhuF0oalOi8).

[2013-07-11 15:20] #1 closed, assigned to Alotor

[2013-07-15 07:20] ilopmar opened #2 "Implement "overlap" operator"
http://www.postgresql.org/docs/9.2/static/functions-array.html#ARRAY-OPERATORS-TABLE

[2013-07-15 07:21] ilopmar opened #3 "Implement "equals" operator"
http://www.postgresql.org/docs/9.2/static/functions-array.html#ARRAY-OPERATORS-TABLE

[2013-07-15 07:21] ilopmar opened #4 "Implement "notEquals" operator"
http://www.postgresql.org/docs/9.2/static/functions-array.html#ARRAY-OPERATORS-TABLE

[2013-07-15 07:22] ilopmar opened #5 "Implement "isEmpty" operator"
http://stackoverflow.com/questions/737669/postgres-how-to-check-for-an-empty-array/737678#737678

[2013-07-15 10:12] #2 closed, assigned to ilopmar

[2013-07-15 10:12] ilopmar opened #6 "Add documentation"

[2013-07-16 10:13] #6 closed, assigned to ilopmar

[2013-07-16 11:52] ilopmar opened #7 "Implement "isNotEmpty" operator"
Based on #5

[2013-07-16 12:06] #5 closed, assigned to ilopmar

[2013-07-16 12:59] #7 closed, assigned to ilopmar

[2013-08-21 22:16] mattfeury opened #8 "Does not work with Grails Migration Plugin"
Hello!

I'm trying to put this in my app that uses the Grails Migration Plugin (https://github.com/grails-plugins/grails-database-migration). Whenever I add the `type: IntegerArrayType` mapping to a domain class, then the `dbm-gorm-diff` fails to spit out any diff. There is the possibility something funky is going on on my end, but I was wondering if this is an issue for anyone else?

If I take ou

[2013-08-22 16:29] #8 closed, assigned to ilopmar

[2013-08-23 18:38] mattfeury opened #9 "[Enhancement] Serialize Enum arrays to Integer arrays"
Hello,

in my grails app, it's very common for me to make an Enum for a domain field. GORM will serialize the Enum to its integer value/ordinal when updating the db. It will also automagically convert it to the proper Enum on deserializing (when retrieving from the db). What I do often looks like:

[code]

what I'd like to do is to be able to use an array of enums, e.g. make the above example `Rol

[2013-08-24 22:31] #9 closed, assigned to ilopmar

[2013-09-18 17:40] aeischeid opened #12 "install tip for excluding bundled hibernate"
Unless people are using same grails version as plugin used you get a prompt for hibernate plugin version difference. simple to avoid, but nice to have documented.

[code]

[2013-09-20 22:20] #12 closed, assigned to nobody

[2013-11-03 14:51] ilopmar opened #13 "Add Hstore support"
Add Hstore support to the plugin

[2013-11-03 14:53] #13 closed, assigned to nobody

[2013-11-03 14:53] ilopmar opened #14 "Add query support to Hstore"
Add query support to Hstore type

[2013-11-06 11:28] ilopmar opened #16 "Implement hstore "exists" operator"
From: http://www.postgresql.org/docs/9.2/static/hstore.html

exist(hstore,text) does hstore contain key?

[2013-11-06 11:28] ilopmar opened #17 "Implement hstore "left contain" operator"
From: http://www.postgresql.org/docs/9.2/static/hstore.html

hstore @> hstore does left operand contain right?

[2013-11-06 11:29] ilopmar opened #18 "Implement hstore "left is contained" operator"
From: http://www.postgresql.org/docs/9.2/static/hstore.html

hstore <@ hstore is left operand contained in right?

[2013-11-06 11:29] #14 closed, assigned to ilopmar

[2013-11-09 14:19] #16 closed, assigned to nobody

[2013-11-09 14:19] #17 closed, assigned to nobody

[2013-11-09 14:20] #18 closed, assigned to nobody

[2013-11-09 14:22] ilopmar opened #19 "Add JSON Support"
Add JSON Support

[2013-11-10 12:04] mkobel opened #20 "HstoreHelper toMap throws exception if the key or the value contains a ,"
The .split(", ") in
src/java/net/kaleidos/hibernate/usertype/HstoreHelper.java @ Line 74
does also split keys and values containing a ,

[2013-12-01 14:22] #20 closed, assigned to ilopmar

[2014-01-06 23:19] travisfw opened #23 "Support inet and cidr postgresql types"
Add support for inet and cidr:
http://www.postgresql.org/docs/current/interactive/datatype-net-types.html

[2014-01-14 11:50] ilopmar opened #24 "NPE when defining a Hstore field as nullable"
When defining a Hstore field as nullable a NPE is throw when no value is given:

[code]

[2014-01-29 22:15] ilopmar opened #25 "ClassCastException using types different from String as Hstore keys"
When we use a value of type different from String as Hstore key we get the following error:

[code]

[2014-01-30 22:13] #25 closed, assigned to ilopmar

[2014-02-04 16:38] aeischeid opened #26 "pgArrayContains and case sensitivity"
wondering if there an easy way to check for pgArrayContains in a case insensitive way if it is a String[]? or if it would be easy to implement maybe

or is it best to simply store values forced into either upper or lower case and do the same with queries?

[2014-02-11 11:56] ilopmar opened #27 "New Array method being a mix of contains and empty"
Sometimes you have to write a criteria matching an array of arguments using `pgArrayContains`. But if the array is empty you have to use `pgArrayIsEmpty`. Check the example:

[code]

It would be nice if the previous criteria could be written like this:

[code]

And if `tagList` is empty it use `pgArrayIsEmpty` but if not it use `pgArrayContains` under the hood.

[2014-02-12 11:56] manuelvio opened #28 "Cannot delete instance with a map"
When I try to delete an instance with a map in it I get this exception:

[code]

I've added this integration test (which fails) in `PostgresqlHstoreDomainIntegrationSpec.groovy`:

[code]

[2014-02-13 08:20] #28 closed, assigned to nobody

[2014-02-14 11:00] #27 closed, assigned to ilopmar

[2014-02-18 17:00] jglapa opened #30 "Exception when hstore key or value contains escaped characters"
Hi, it looks like "manually" inserted data(via psql) cannot be "parsed" by the extension.
Hstore allows for the keys and values to contain double quote character but upon parsing we'll get an error as the escape character is not properly handled.

[code]

Executing this:

[code]

will result with the following in db:

[code]

Those \", ', \  sequences should be treated in a special way.

I guess t

[2014-06-02 19:47] aeischeid opened #33 "Grails 2.4 run app issues"
with a newly created app either with some domains added or with none I can't get it to startup with this plugin installed

Compile error during compilation with javac.
/home/aeischeid/dev/grails/sandbox/target/work/plugins/postgresql-extensions-0.6.8/src/java/net/kaleidos/hibernate/criterion/array/PgArrayExpression.java:7: error: cannot find symbol
import org.hibernate.engine.TypedValue;

[2014-06-09 08:01] ilopmar opened #34 "Possibility of define an PgArray in a domain class using List instead of Array"
It would be nice to be able to define a PgArray in a domain class using a List instead of an Array.

[2014-06-15 18:01] #3 closed, assigned to ilopmar

[2014-06-16 06:33] #4 closed, assigned to ilopmar

[2014-07-21 14:00] #33 closed, assigned to nobody

[2014-07-24 09:57] #19 closed, assigned to nobody

[2014-08-02 15:09] #24 closed, assigned to nobody

[2014-08-07 16:56] olivermt opened #49 "Request: Be able to disable sequence-per-table"
I would like a setting that allows me to keep the original PGSQL dialect that had a global sequence.

I do not know enough about sequences, but it seems to me that unless your dialect makes sure these sequences start at max(id) of the existing table, a collision might occur.

As I can see it from liquibase generation, the sequences do not take this into account.

[2014-08-09 10:45] umakot opened #50 "Postgres Grails - Storing List as JSON vs Map as JSON"
Hi,
I want to create a "List of Objects"  as JSON in postgres. The 3.2.0 version of grails-postgresql-extensions allows to do the same with "Map of Objects ". Objects are simple POJO

I have created the attached git to draw upon the example on what I want to do https://github.com/umakot/testpost.git

In this example Person Domain object has list of addresses and I want to store those addresses in

[2014-08-18 18:44] #49 closed, assigned to nobody

[2014-09-29 18:37] olivermt opened #52 "String type and db type"
Hi.

ArrayType with String becomes varchar[] now, where would I look to be able to get it to be text instead?

I have "user-type" type: org.hibernate.type.TextType, class: String in my gorm default mappings, but this does not seem to be used by the plugin.

[2014-12-22 23:51] mdbishop opened #55 "PostgreSQLDialect deprecated"
Just wanted to point out that (at least in Hibernate4) PostgreSQL81Dialect seems to be the base Dialect for Postgres with PostgreSQLDialect deprecated.

Will leave it to you to decide if this has any practical effect in the medium term but just wanted to flag it.

[2015-01-02 14:41] lmivan commented on #55
Hi!

In the `master` branch (which uses Hibernate4) we're using `PostgreSQL81Dialect` https://github.com/kaleidos/grails-postgresql-extensions/blob/master/src/java/net/kaleidos/hibernate/PostgresqlExtensionsDialect.java#L16

In the `3.x` branch we're using `PostgreSQLDialect` which I think is not deprecated for Hibernate3.

[2015-01-08 16:18] bobbywarner opened #56 "Additional criteria query options for JSON data types"
It would be great to be able to use additional criteria query options.  Most notably, ilike, to check for similar JSON values as opposed to just equals which is provided today.

[2015-01-11 14:54] lmivan commented on #56
Hi Bobby,

which of these operators do you think we should implement? http://www.postgresql.org/docs/9.4/static/functions-json.html

[2015-01-29 22:18] atomsfat opened #57 "This should be useful for spring-boot too"
Hi, it would be great to separate the driver and the criteria code in a lib

[2015-01-30 06:22] lmivan commented on #57
Sure. We need to think about it.

[2015-01-30 07:21] Alotor commented on #57
Yeah, it's definitely on our roadmap. We're big fans of Spring Boot :smile:

[2015-03-22 14:57] domiko opened #59 "json vs jsonb"
Hi guys,
Thanks for a great plugin.

I've tried re-mapping a gorm field from json to jsonb.
However, pgAdmin still lists the field as json (not jsonb).

Regards

[2015-03-22 15:14] lmivan commented on #59
Hi.

I think that hibernate is not capable of modifying the column type even if you have set your `DataSource.groovy` `dbCreate` property to `update`.

You can always modify the type of the column using pgAdmin or psql:

[code]

Please note that the `USING` clause is necessary because postgresql doesn't know how to convert directly from json to jsonb.

I hope this helps.

[2015-03-22 19:57] domiko commented on #59
Thank Ivan for your very quick reply.
Your tip works like a charm.

Thanks,
Dominique

[2015-03-22 21:23] lmivan commented on #59
Great! :-)

[2015-03-22 21:23] #59 closed

[2015-04-04 08:53] saharabear opened #60 "Any plan to migrate to Grails V3.x?"
Hi,

I am very glad to find grails-postgresql-extensions, it's a good project.

At the moment, Grails is upgrading to V3.x, do we have any plan to migrate to Grails V3.x?

Thanks.

[2015-04-05 13:38] lmivan commented on #60
Hi.

I'm glad you like it. Yes, we do have plans to migrate to project to be Grails 3.x compatible but at this moment we can't commit to a date.

Regards, Iván.

[2015-04-06 03:17] saharabear commented on #60
I send a PR, https://github.com/kaleidos/grails-postgresql-extensions/pull/61

unit test failure, but compile works.

[2015-04-06 09:10] mochalov opened #63 "Mapping of Float arrays"
When performing domain saving and retrieving in different sessions (in order to avoid Hibernate use session's cache) `java.lang.ClassCastException: Cannot cast [Ljava.lang.Double; to [Ljava.lang.Float` exception is thrown for domains having property of type `Float[]`.
That happens because PostgreSQL stores such property in column of type `float8[]` and JDBC maps it to `Double` instead of `Float`.

[2015-04-06 16:48] lmivan commented on #63
In this case I think we can map both `Float` and `Double` to `float8[]` and add a note in the documentation.

@Alotor what do you think?

[2015-04-23 23:18] ocomsoft opened #64 "Where is version 3.4.0?"
As above, I am trying to use the multi-tenant-single-db with this plugin and I need to revert back to Hibernate3 but I cannot use JSONB with v3.3.0

[2015-04-24 03:14] zlegein opened #65 "Use rs.getObject() to deserialize jsonb data"
When storing data into the database using [jsonbMapType](https://github.com/kaleidos/grails-postgresql-extensions/blob/master/src/java/net/kaleidos/hibernate/usertype/JsonbMapType.java) we use

`st.setObject(index, gson.toJson(value, userType), Types.OTHER);`

which will serializes the data into the database. I would propose we change the get to use

`String jsonString = rs.getObject(names[0])`

T

[2015-04-24 06:48] lmivan commented on #64
I only created the new Jsonb for Hibernate4. If you need it for Hibernate3 I think I can cherry-pick the changes to that branch and release a new version.

[2015-04-30 05:46] ocomsoft commented on #64
I appreciate all the work you have done, Imivan. However, I would love to be able to use the plugin from the repository. It turns out it's not as easy as just cherry picking the commit... :(

[2015-05-03 14:43] lmivan commented on #64
As you said it's not just cherry-picking the commit but the changes are pretty simpler. I wish I had more spare time but at this moment I'm very busy. Sorry...

Regards, Iván.

[2015-06-02 18:43] lmivan commented on #65
Fixed in #66

[2015-06-02 18:43] #65 closed

[2015-06-02 19:24] #55 closed

[2015-06-02 20:40] lmivan commented on #64
Backported from 4.X during GR8Conf Hackergarten and published in 3.4.0

[2015-06-02 20:40] #64 closed

[2015-07-05 04:28] DanishKhakwani commented on #60
Any news? Eagerly waiting for it to work on Grails 3.

[2015-07-30 21:17] ph4t opened #71 "Can we serialize Enum[] to String[] instead of int[]?"
Currently the implementation will serialize an array of enums to an array of ordinal values.
Using the Juice enum example from the documentation: `[Juice.ORANGE, Juice.GRAPE]` will be stored as `[0, 2]`

I think there are a few difficulties with this approach:

1. If the order of enums is changed, this will change the ordinal values. As result, aren't you going to get wrong enums when existing rec

[2015-08-02 11:17] lmivan commented on #60
I've been reviewing this PR #70 in which you can find instructions about how to use the first "snapshot" version: https://github.com/kaleidos/grails-postgresql-extensions/pull/70#issuecomment-127016350

If you give it a try, please let me now if it's working properly or you have some problems.

[2015-08-08 04:34] davidbairdala opened #72 "Upgrading to 4.5.0 causes class cast exception"
I have a project that defines a domain object that has a Map property mapped to JsonMapType.

[code]

Under version 4.4.0 the following works:

[code]

WIth version 4.5.0 the same code yields:

[code]

I am running against Postgres 9.3. Not sure if I'm doing something wrong, or if this is a bug introduced with 4.5.0.

Cheers, David.

[2015-08-14 19:26] lmivan commented on #72
I'll try to reproduce it and create a test for it and fix it. I need to dig a little bit to see what change introduced in the last version broke that.

[2015-08-15 11:14] domiko opened #73 "Sorting on json properties"
Given the following schema
[code]
and the content of the stats field that can look like:
[code]
How would you do the following through GORM (HQL/Criterias/dynamic_finders) with the grails-postgresql-extensions plugin?

[code]
Thanks,
Dominique.

[2015-08-15 18:26] lmivan commented on #73
I've found this post: http://blog.tremend.ro/2008/06/10/how-to-order-by-a-custom-sql-formulaexpression-when-using-hibernate-criteria-api/ and I've made a very quick test with that class and this code:

[code]

and this test:
[code]

And it works :smile:

It's a little bit hacky because you need to write the correct order expression and it's just appended to the criteria. Does it sounds good to you

[2015-08-15 20:29] lmivan commented on #72
I can't reproduce it from a test but I've been able to reproduce it from run-app.
The change was introduced in #65 to fix this issue #66.

I'm doing some test to fix this.

[2015-08-15 20:46] lmivan commented on #65
@zlegein we have a regresion with this fix. Please check #72.

I've change to

[code]

But I think it won't work with H2.

So, in order to understand this. Are you running some integration tests against H2 instead of Postgresql? Are you using the JsonMapType against H2 and it's working?

[2015-08-15 20:48] lmivan commented on #73
BTW @domiko you can see all the changes here: https://github.com/kaleidos/grails-postgresql-extensions/compare/master...order_by

[2015-08-16 11:09] domiko commented on #73
Hey @lmivan,
Hacky or not, this is exactly what I needed :-) . Works like a charm.

Thanks for your assistance and very quick response.

[2015-08-16 16:34] lmivan commented on #73
Great. I'm going to try to fix another issue and then I'll release a new version with this new sorting and another "sort byRandom".

[2015-08-25 18:26] eamon316 commented on #72
Just came across this today. Looks as if the following will fix
[code]
as noted in [#66]

Is there a release planned to fix?

Thanks for all the effort +1 on the plugin

[2015-08-26 14:39] lmivan commented on #72
I'll try to publish a new version during this week.

[2015-08-31 20:11] Joshua-Brent-Collins commented on #65
Hello, I have an abstract domain class that I think i'm seeing a similar issue with. All i'm doing is using a dynamic finder to search for an entries in my db and I keep getting these errors :

    Argument is not an array. Stacktrace follows:
    Message: Argument is not an array
        Line | Method
    ->>  109 | nullSafeGet   in net.kaleidos.hibernate.usertype.ArrayType
    - - - - - - - - -

[2015-08-31 22:17] lmivan commented on #65
@Joshua-Brent-Collins could you please open a new issue with an example of what you're trying to do? At least post the domain class and the dynamic finder you're trying to execute.

[2015-09-01 18:41] mengelhart commented on #60
Thanks everyone for the effort to get a Grails 3 build out.. Just now I tested it and got the following in my console:

`ERROR org.hibernate.tool.hbm2ddl.SchemaExport - HHH000389: Unsuccessful: create table test_hstore (id int8 not null, version int8 not null, lucky_number int4, name varchar(255), test_attributes hstore, primary key (id))`
`ERROR org.hibernate.tool.hbm2ddl.SchemaExport - ERROR: ty

[2015-09-01 20:58] lmivan commented on #60
@mengelhart I think the problem is because you haven't created the hstore extesion. Could you please let me know if you have followed the documentation?

https://github.com/kaleidos/grails-postgresql-extensions#hstore

[2015-09-01 21:08] mengelhart commented on #60
Sorry Ivan - I was working on a new postgres install and forgot I hadn't created the extension for it! Thanks for the heads up.

Mike.

[2015-09-01 21:18] lmivan commented on #60
Great! If you have some questions related to the new version of the plugin, please let me know. I think I'll release the first "official" version for Grails 3 after I come back from the SpringOne.

[2015-09-01 21:24] mengelhart commented on #60
Great!  I'm just starting a greenfield Grails 3 project and was hoping this would be at least in a testable state.. So far so good but i'll ping you if I run into anything.. Mostly going to be using JSONb in this app for a few tables.

[2015-09-01 21:26] lmivan commented on #60
I think you shouldn't have problems. I mean, the plugin has been migrated to Grails 3 based on the last released version 4.5.0, so everything should be the same.
I'll also plan to release a new 4.6.0 with some improvements and bugs fixed and I'll add that code to the Grails 3 branch.

[2015-09-08 07:31] lmivan commented on #72
I finally found the time to publish a new version. Fixed in `4.6.0` :-)

[2015-09-08 07:31] #72 closed

[2015-09-08 07:32] lmivan commented on #73
Included in version `4.6.0`

[2015-09-08 07:32] #73 closed

[2015-09-08 12:27] domiko commented on #73
Thanks @lmivan

[2015-09-08 12:50] lmivan commented on #73
:+1:

[2015-09-19 13:47] eamon316 opened #76 "NullPointerException when Json/Jsonb value is null in database"
[code]

This occurs when a value in Json/Jsonb column is null as `((PGobject)rs.getObject(names[0]))` returns null. `.getValue()` is then called on null value.

I will submit a pull request with updated tests

[2015-09-21 06:47] lmivan commented on #76
Thank you! Published in 4.6.1

[2015-09-21 06:47] #76 closed

[2015-09-22 22:22] mengelhart commented on #60
i see you have the 4.6.0 branch out - any chance those fixes will merge into the 5.0 snapshot?

[2015-09-23 17:22] lmivan commented on #60
I'll have some time to spend on the plugin next week so I'm going to clean the 3.X branch, merge it into master and release the first non-snapshot version of the plugin for Grails 3. Before that I'll add all the features and fixes already included in the 4.X.X versions.

[2015-09-24 14:30] gregopet commented on #72
I tried this and got exceptions when the field was null; currently using

[code]

[2015-09-24 14:36] lmivan commented on #72
That's was fixed in #77 and released in `4.6.1`. Could you please try with that version?

[2015-09-24 15:27] gregopet commented on #72
I'm using the Grails 3 branch, I guess it wasn't ported to that branch yet?

[2015-09-24 20:42] lmivan commented on #72
Yes, you're right. The last changes have not been applied to the 3.x branch. You need to wait until next week...

[2015-10-01 19:18] lmivan commented on #60
Plugin migrated to Grails 3. Please check more information at #70

[2015-10-01 19:18] #60 closed

[2015-10-13 10:00] wolandec opened #79 "Jsonb org.hibernate.MappingException"
Hi.

I tried to use Jsonb property in domain, using your extention. I did all steps exactly as described in documentation. But when server starting I have an Exception.

ERROR org.hibernate.tool.hbm2ddl.SchemaUpdate - HHH000299: Could not complete schema update
org.hibernate.MappingException: No Dialect mapping for JDBC type: 90022
	at org.hibernate.dialect.TypeNames.get(TypeNames.java:87) ~[hiber

[2015-10-13 11:27] lmivan commented on #79
Hi.

Could you please answer the following questions?

- Version of the plugin are you using
- Grails 2 or Grails 3
- Postgres version

Thanks

[2015-10-13 11:32] wolandec commented on #79
Yes.

* 4.6.1
* Grails 3.0.8
* Postgresql 9.4.4

[2015-10-13 11:46] lmivan commented on #79
Great. Let me please do some tests and I'll try to get back as soon as possible.

[2015-10-13 11:48] wolandec commented on #79
Thank for your attend!

[2015-10-13 22:03] lmivan commented on #79
Hi.

I've created an empty Grails 3.0.8 application and then added the plugin and created a domain class as specified in the documentation.
When I run the app everything is working:

[code]

I've uploaded the example app to github. You can see the modified files in this commit: https://github.com/lmivan/pg-extensions-grails3-jsonb-example-app/commit/96c34977aab9656748879c1d81a6d8057bcb615d

[2015-11-27 21:43] ilopmar commented on #79
As Bobby Warner pointed me on the slack channel, it seems there's a very similar problem when running dbmigrations.

`
Command execution error: liquibase.command.CommandExecutionException: org.hibernate.MappingException: No Dialect mapping for JDBC type: 90021
`

[2015-11-27 21:51] bobbywarner opened #80 "JsonMapType mapping does not work"
It appears there is an issue with the `JsonMapType`.  I have used this with Grails 2 successfully many time, but on my first attempt using this data type in a Grails 3.0.9 app, it fails with a mapping error.

[code]

Here is a sample project that replicates the issue:
https://github.com/bobbywarner/postgresql-extensions-testapp

There is one domain class with one attribute of type `JsonMapType`.

[2015-11-27 22:12] ilopmar commented on #80
It seems that there was a problem with the configuration of the dialect.

[2015-11-27 22:12] #80 closed

[2015-11-27 22:12] ilopmar commented on #80
For further reference: https://github.com/kaleidos/grails-postgresql-extensions#configuration

[2015-11-27 22:12] ilopmar commented on #79
It's a problem with the configuration of the dialect. Please check the documentation: https://github.com/kaleidos/grails-postgresql-extensions#configuration

[2015-11-27 22:12] #79 closed

[2015-12-15 18:29] ph4t opened #81 "Use grails.converters.JSON instead of gson in JsonMapType ?"
Hi,

In our application we are using builtin JSON class to marshall/umarshall domain classes etc. We have a lot of custom object marshallers and we are using a few plugins that integrate with Grails JSON class (https://github.com/pedjak/grails-marshallers & https://github.com/gpc/joda-time)

I would assume that most people are using the builtin JSON class as well. So, it makes more sense if JsonMa

[2015-12-15 19:52] make opened #82 "postgresql-extensions 4.6.3: domain classes cannot be used in BootStrap.groovy any more"
After upgrading from 4.6.1 to 4.6.3 domain classes have not been able to be used in BootStrap.groovy any more.

My grails-app/init/BootStrap.groovy:
[code]
grails run-app works fine but when deploying war into tomcat there's an error:

[code]

My dependencies:
grails 3.0.10
org.grails.plugins:postgresql-extensions:4.6.3
org.postgresql:postgresql:9.4-1201-jdbc41

[2015-12-15 21:11] ilopmar commented on #82
Could you please create a very simple app that reproduces the problem? I would like to see the domain classes to figure it out what happen with the new version. I assume that you're using `json` or `jsonb` support, but I'm not sure.

In the mean time, could you please test with the version 4.6.2?

[2015-12-15 21:14] ilopmar commented on #81
Hi @ph4t.

I don't remember why we chose `Gson` instead of `grails.converters.JSON`. Maybe we had some problems with the Grails converters, but I can't remember at this moment.

Are you using Grails 2 or Grails 3? I could do some tests with the Grails converter to see what happen. Or maybe you can try to change it and submit a PR.

[2015-12-15 21:36] ph4t commented on #81
I'm using Grails 2.0. We won't migrate to grails 3 anytime soon.

I'll try it and submit PR

[2015-12-15 21:46] ilopmar commented on #81
If you're still using Hibernate 3 you should branch from this: https://github.com/kaleidos/grails-postgresql-extensions/tree/3.x

Please take notice that we currently are not planning to add new functionality to Hibernate 3 support (old versions of Grails). If you need new features you should think about moving to Hibernate 4 (still with Grails 2.x) and use the branch https://github.com/kaleidos/g

[2015-12-15 21:49] ph4t commented on #81
We are on hibernate 4. Thanks for letting me know which branch to use...

[2015-12-16 09:07] rawi2 opened #83 "Full text search: a criteria for tsquery/tsvector would be gorgeous"
A groovy plug in for a great database. Many thanks for it.

Would it be very difficult to implement functions for tsquery/tsvector also?

I think, after that, postgresql would become the most used database with grails :)

Thank you

[2015-12-16 09:23] ilopmar commented on #83
I haven't used full text search with postgres, that's one of the reason we haven't support for it yet.

Could you please send me an small example in pseudo-code of how would you like to use these functions and the equivalent postgres native sql? With that I could see how difficult is the task.

Thanks!

[2015-12-16 12:56] rawi2 commented on #83
Thank you for looking into this!

	CREATE TABLE orpha.disorder_name
	(
		-- id etc
		disorder_name character varying(250),
		disorder_name_fts tsvector,
		-- constraints etc
	);

disorder_name_fts is the disorder_name already prepared as full-text search-able format (tsvector) - per trigger function on update or insert.

The two fields are looking like (SELECT disorder_name, disorder_name_fts....)

[2015-12-16 12:56] rawi2 commented on #83
sorry, I didn't want to close it

[2015-12-16 12:57] rawi2 commented on #83
... oh I can reopen it...

[2015-12-16 13:30] ilopmar commented on #83
Thank you very much for such a detailed explanation. When I have some time time I'll look at it and let you know how it goes.

Are you interested in adding this feature in Grails 2 or Grails 3?

[2015-12-16 14:58] rawi2 commented on #83
I thank you very much in advance!

Embarrassing to say, but I'm an old admin, I scripted a bit Groovy and this is my third attempt to find the time to learn Grails (3) - hands on a project.
I'm able to read java, but I'm not prolific in it.
Sorry to disappoint that much...

[2015-12-16 18:44] make commented on #82
It was not able to reproduce the problem with 4.6.2 though I was even able to deploy few times with 4.6.3 without problems. See https://github.com/make/postgresql-extensions-issue82

[2015-12-16 19:21] make commented on #82
Somehow when I tried with 4.6.2 without problems and then tried 4.6.3 again the init part in BootStrap.groovy was executed three times???
[code]

[2015-12-17 06:04] ilopmar commented on #82
Thank. I'll take a look and tell you something.

[2015-12-24 16:57] ilopmar commented on #82
First of all thank you. This is the best issue ever. Your example project is great with all the steps to reproduce the issue.

I can't believe this is happening but you're absolutely right. It seems that with 4.6.3 there's some problem. I saw the error you mention and also the three messages during the bootstrap.

[2015-12-24 17:10] ilopmar commented on #82
I've deployed two different versions of the app. The first time with `4.6.3` and the second one using `4.6.2` and it seems that the dependencies are not the same:

4.6.2:
![4 6 2](https://cloud.githubusercontent.com/assets/559192/11996659/03fab9f8-aa68-11e5-8e7e-3f29bfadaf53.png)

4.6.3:
![4 6 3](https://cloud.githubusercontent.com/assets/559192/11996658/03f84092-aa68-11e5-8a53-ebce266d78ac.png)

[2015-12-29 12:11] make commented on #82
What is the meaning of ```op + "?"``` in https://github.com/kaleidos/grails-postgresql-extensions/blob/v4.6.3/src/main/groovy/net/kaleidos/hibernate/criterion/json/PgJsonbOperator.java#L28

[2015-12-29 12:55] ilopmar commented on #82
That is where the sql is built.

The `op` is the sql operator that is defined [here](https://github.com/kaleidos/grails-postgresql-extensions/blob/v4.6.3/src/main/groovy/net/kaleidos/hibernate/postgresql/criteria/JsonCriterias.groovy#L52) and [here](https://github.com/kaleidos/grails-postgresql-extensions/blob/v4.6.3/src/main/groovy/net/kaleidos/hibernate/postgresql/criteria/JsonCriterias.groovy#L

[2015-12-29 13:04] ilopmar commented on #50
I've finally found some time to work on this feature. I have a working version compatible with Grails 3. I'll try to cleanup the code an publish a new version with the feature in the next days.

[2015-12-29 15:00] make commented on #82
Would you try the changes line by line from 4.6.2 to 4.6.3 to find the minimal change
I would suggest to add spaces before and after the operators to at least improve debugging. It's hard to read logged queries when query is something like ```my_jsonb@>?``` (compare to ```my_jsonb @> ?```). There are also PostgreSQL operators ```?```, ```?|``` and ```?&```. But maybe that's worth an another issue

[2015-12-29 15:08] ilopmar commented on #82
You're right, I'll add those spaces to be able to read the queries better.

Regarding the others operators, I only implemented those two because I think they are the most used. But yes, I can add the others or accept a pull-request with the changes ;-)

[2015-12-29 15:10] make commented on #82
I cannot reproduce the issue with locally installed grails plugin. I diffed the local and remote jar contents. The main difference is that remote jar has ApplicationLoader.class in grails/postgresql/extension folder while the local one doesn't have. Is the public remote jar somehow broken?

[2015-12-29 15:11] make commented on #82
In remote jar there are also UrlMappings.groovy, error.gsp and messages.properties that are missing from locally compiled jar.

[2015-12-29 15:13] make commented on #82
File grails/postgresql/extensions/Application.class also differs in local and remote jars

[2015-12-29 15:37] ilopmar commented on #82
Maybe the file `ApplicationLoader.class` is the reason why the 4.6.3 version is not working properly.

Regarding `UrlMappings.groovy`, `errors.gsp` and `messages.properties` they are included in the previous versions. Maybe I need to exclude them:

[code]

I've published to mavenLocal the 4.6.3 version and the `ApplicationLoader.class` is not included, so maybe the jar published on bintray is brok

[2015-12-29 15:37] ilopmar commented on #82
I think I'm going to publish the version 4.6.3 again on bintray and see what happens.

[2015-12-29 16:06] ilopmar commented on #50
I've just published the version `4.6.4`

[2015-12-29 16:06] ilopmar commented on #82
I've just published the version `4.6.4`

[2015-12-29 16:22] ilopmar commented on #82
I've tried several times with the new version and I can't reproduce the issue anymore. The log messages are displayed only once and the "number of Domains" with version `4.6.4` is always 1.

I'm closing the issue. If you have more problems, please comment here or open a new one.

Thank you very much for your help :)

[2015-12-29 16:22] #82 closed

[2015-12-29 18:15] bobbywarner opened #84 "Config setting no longer true by default"
With previous versions of the plugin, you did not have to specify the `sequence_per_table` config setting and it would default to true.  Looks like now you do have to explicitly set it otherwise you get a NPE on this line -- https://github.com/kaleidos/grails-postgresql-extensions/blob/master/src/main/groovy/net/kaleidos/hibernate/PostgresqlExtensionsDialect.java#L60

[code]

[2015-12-30 11:25] make commented on #82
I confirm that this issue is solved with ```4.6.4```. Thanks for the fast response!

[2015-12-30 11:35] ilopmar commented on #82
Happy to help :-)

[2015-12-30 13:06] ilopmar commented on #84
I've done some tests and it's not a problem of the plugin but something related to Grails. I tried with a very simple project (https://github.com/ilopmar/pg-extensions-grails3-jsonb-example-app) and with Grails 3.0.10 or above the problem exist.
You can clone the project, change the grails version to 3.0.9 with sdk and in `gradle.properties` and the project starts without problems.

I need to dig

[2015-12-30 17:43] bobbywarner commented on #84
@ilopmar Ah, ok.  Sounds good.  Thanks!

[2015-12-31 09:21] ilopmar commented on #84
It seems that this commit may be related to the change: https://github.com/grails/grails-core/commit/50cf2449787809d8779d2a7b5c5dba9b7173046a

[2015-12-31 11:02] ilopmar commented on #84
Fixed in `4.6.5` :)

[2015-12-31 11:02] #84 closed

[2016-01-01 19:13] ilopmar commented on #71
Hi.

First of all I'm sorry for taking too much time to answer this issue.

Currently I'm working on migrating all the Java code to Groovy + `@CompileStatic` and I'm studying the file in which these mappings are done `BidiEnumMap`.

I'm not the original author of this code and I don't remember why we did this but after analyzing the code I think you're right. It seems strange to store the ids inst

[2016-01-01 22:45] domiko opened #85 "Setting dialect on Grails 3.0.10 and 3.0.11"
Hi Ivan.
_p.s. I found a workaround while writing this issue report_

I've upgraded my application to Grails 3.0.11 and depending on the configuration I'm having one of 2 problems.

__Note that__
* The application works fine with Grails 3.0.9 (when configured as in point 1 under the 'hibernate:' section of application.yml).
* I'm using version 4.6.4 of grails-postgresql-extentions plugin.

__Behav

[2016-01-02 10:10] ilopmar commented on #85
Hi.

The problem with the `ClassCastException` during the startup was reported in #84 and is fixed in the version `4.6.5` released a few days ago. You can upgrade the plugin version and remove the `sequence_per_table` property because now it's again `true` by default.

Regarding the problem with the dialect, I'm going to do some tests and let you know what happen.

[2016-01-02 10:46] ilopmar commented on #85
I remember now that the dialect problem was discussed here #80. In that issue the problem was that it wasn't defined under the wrong key.

I've been doing some tests and it seems that everything works fine with the [documented configuration](https://github.com/kaleidos/grails-postgresql-extensions#configuration), `dialect` under `hibernate` key.

Could you please clone the following repo and do a

[2016-01-02 10:48] ilopmar commented on #85
And the same problem with the `dialect` happened here #79.

[2016-01-02 11:19] domiko commented on #85
Hey.

I should have looked issue at closed issues before raising a new one :).

As for the dialect configuration I read this [entry](https://github.com/grails/grails-core/issues/614) when I tried (and failed) to migrate to Grails 3.0.10.
So when I did the migration to 3.0.11 I naturally tried to put the ```dialect``` in the ```hibernate``` section as well as in the ```dataSource``` one.

I will cl

[2016-01-03 11:00] ilopmar commented on #85
Thanks for pointing to the issue in Grails-core. I didn't aware of that.

That's explains why at the beginning it only worked in `hibernate`. I'll update the documentation with this new information.

[2016-01-03 11:00] #85 closed

[2016-01-14 12:25] igilfanov opened #86 "Equality JsonMapType"
Checking Map values for equality should be revised.

http://stackoverflow.com/questions/4082416/equality-between-2-hashmap

[2016-01-14 12:30] ilopmar commented on #86
Thanks for submitting the issue.

Could you be please more specific about the problem? Does it means that this https://github.com/kaleidos/grails-postgresql-extensions/blob/master/src/main/groovy/net/kaleidos/hibernate/usertype/JsonMapType.java#L40 should be done in a different way?

Could you send me an example of what's happending?

Regards, Iván.

[2016-01-14 12:36] igilfanov commented on #86
It does not update value of the field

[2016-01-14 13:12] ilopmar commented on #86
Could you create an sample project that reproduces the issue and push it to github?

[2016-01-14 13:15] igilfanov commented on #86
Not today, but I'll try. Thank you

[2016-01-14 13:16] ilopmar commented on #86
Perfect. That way I'll be able to reproduce it and fix it.

[2016-01-20 08:08] igilfanov commented on #86
https://github.com/igilfanov/jsonbupdate

[2016-01-20 10:34] igilfanov commented on #86
I should have used beforeValidate

[2016-01-20 10:34] #86 closed

[2016-03-10 22:06] andrebrov opened #87 "Getting error for ArrayType when I use dbCreate = 'validate'"
Hi,
In one of my domain class I have next fiels
`pageKeywords type: ArrayType, params: [type: String]`
When I use `dbCreate = 'validate'` option in data source config I'm getting next error:

`Wrong column type in public.sc_page for column page_keywords. Found: _varchar, expected: varchar[]`

[2016-03-14 10:17] ilopmar commented on #87
Thank you for submitting the issue. I'll try to test it fix it.

[2016-03-17 01:07] sean7512 commented on #87
I am also seeking the same behavior.

I overrode the dialect class to register a String Array to ```text``` so my error message is:

```Found _text, expected: text[]```

[2016-04-10 06:17] edwardotis commented on #71
+1 for String[]
Storing enums as positional ints is a dangerous database anti-pattern.

[2016-04-14 13:03] edwardotis opened #88 "How to use >=4.6.5 with grails 2.5?"
Is grails 2 still supported?

dependency
        compile 'org.grails.plugins:postgresql-extensions:4.6.5'

grails compile --stacktrace

| Error Resolve error obtaining dependencies: Could not transfer artifact org.grails.plugins:postgresql-extensions:jar:4.6.5 from/to jcenter (https://jcenter.bintray.com): Cannot access https://jcenter.bintray.com with type  using the available connector factories

[2016-04-14 13:07] edwardotis commented on #88
ok, I see that it has to be this style, and using 4.6.1 as newest.
    plugins {
        compile ":postgresql-extensions:4.6.1"
}

[2016-04-14 13:14] edwardotis opened #89 "add support for uuid datatype"
Hi,

 Can you add support for
java.util.UUID to postgres uuid data type?
http://www.postgresql.org/docs/9.4/static/datatype-uuid.html

Thanks

[2016-04-14 13:26] ilopmar commented on #88
The latest version for Grails 2.x is 4.6.1. You can check them here https://github.com/kaleidos/grails-postgresql-extensions#release-notes

[2016-04-14 13:26] #88 closed

[2016-04-15 05:46] edwardotis commented on #88
Thanks, so does this mean that no new features or bug fixes with be available for grails 2.x? Or is there support for both grails 2 and grails 3 going forward?

[2016-04-15 05:56] ilopmar commented on #88
There is support for both versions although I don't have plans to add important features to Grails 2.x, at least not from the beginning.
Basically, the differences between version `4.6.1` and `4.6.5` are two new criterias for jsonb `contains` and `isContained`. The other changes are cleanups/refactors and Grails 3 related things.

Are you interested in any specific feature in Grails 2.x?

[2016-04-15 09:28] edwardotis commented on #84
@ilopmar I'm using grails 2.5.4 with plugin 4.6.1
I cannot get the sequence per table to work, even when I explicitly set it  to true in DataSource.groovy

[2016-04-16 12:04] edwardotis commented on #89
Nevermind, I see that putting this in Config.groovy in grails 2.5.x does the trick:

grails.gorm.default.mapping = {
    uuid generator: 'uuid2', type: 'pg-uuid'
}

[2016-04-16 12:04] #89 closed

[2016-04-17 11:08] ilopmar commented on #89
Awesome, thank you very much. If you want, you can send a PR to the README.md with that information. If you do it, please make sure that you create it from this branch https://github.com/kaleidos/grails-postgresql-extensions/tree/grails-2.x because you're using Grails 2.x

[2016-06-07 10:09] gtors commented on #87
From PostgreSQL documentation:

[2016-06-07 12:27] donbeave commented on #87
Adding `registerColumnType(ArrayType.STRING_ARRAY, "_varchar");` in `PostgresqlExtensionsDialect` can fix this bug.

[2016-07-02 20:50] donbeave opened #90 "Any plan of support Hibernate 5 in future?"

[2016-07-03 10:28] ilopmar commented on #90
Yes, I do plan to support it, based on the migration from Hibernate 3 to Hibernate 4, I think it shouldn't be complicated. I only need to find some time to do it.
In the mean time, pull requests are welcomed :)

[2016-07-22 10:11] keltik85 opened #91 "Update docs: Access to nested child elements in json field"
I may be to stupid to read between the lines in the docs, but i cant get the following to work:

[code]

[code]

[code]

Is there a use case for this or am I trying to do stuff that is not implemented?

[2016-08-12 13:23] karaken12 opened #92 "Add support for UUID arrays"
The title says it all, really. I'm using an array of UUIDs, and the plugin currently doesn't support this. I've forked and made it work locally, so I'll submit a pull request as soon as I've added all the necessary tests.

[2016-08-13 22:34] Sabst commented on #56
Hi,
I'm unsure whether a new operator is required but here is an example of what I would like to express with criteria:
`select data from TestMapJson WHERE data->>'name' ILIKE '%iv%';`
_(inspired from your PgJsonEqualsIntegration test)_

I tried the obvious:
`ilike "data->>'name'", "%iv%"`
But this fails.

Is there a way to do this now ? (I'm using 4.6.1... still stuck on Grails 2.x)

[2016-08-15 11:06] karaken12 commented on #87
I have a fix for this (thanks, @donbeave!) but foolishly I committed my previous change to master, rather than a branch, so the diff includes some UUID stuff. Anyway, check karaken12/grails-postgresql-extensions@3b55bc13ca1e179465283fbf9d825b3c762c0062 to see the changes.

[2016-08-15 11:22] donbeave commented on #87
@karaken12 can you do PR to this repository?

[2016-08-15 13:07] karaken12 commented on #87
@donbeave Sure, I'll give it a go. It won't apply cleanly, though, as I mentioned.

[2016-08-15 13:20] donbeave commented on #87
I think you can do one PR with this UUID support, looks good to me.

[2016-08-15 13:24] sean7512 commented on #87
Looks good...not really part of this issue, but would be nice to also support ```_text``` instead of only ```_varchar```

[2016-08-15 13:25] karaken12 commented on #87
Right, created a separate PR for this issue, which should apply cleanly. I already created a PR for UUID support: PR #93.

[2016-08-15 13:42] karaken12 commented on #87
@sean7512 It's pretty easy to change it so it supports `text[]` _instead of_ `varchar[]`, but I'm not so sure how to support both. Is there a big difference between them?

[2016-08-16 05:22] ilopmar commented on #87
Thank you very much for the PRs. I'll try to review them during the following days but I can't promise anything because I'm really busy these days.

[2016-08-16 05:30] ilopmar commented on #56
I don't know if this should work or not but maybe we need to create a new operator to do that, something like `pgIlike "data-->'name', "%iv%"`

[2016-08-16 18:07] Sabst commented on #56
Ok, so no good surprise then.
Rather than having each time a new pg operator, do you see a more flexible way to handle this? Like using an advanced version of the current pgJsonHasFieldValue (with the operator provided as an argument)? Just wondering...

Now the immediate workaround is to bypass the plugin API... do you see a way to do this using criteria or do you think I have to turn the query i

[2016-08-20 14:11] Sabst commented on #56
I added a `pgJson` criterion with the sql operator as an argument.
E.g. `pgJson 'data', 'name', 'ilike', '%iv%'`
The following will probably be clearer.
Am I missing anything? You already prepared everything for such a feature!
[code]

[2016-08-20 14:29] ilopmar commented on #56
This looks good! If everything is working and you have tests please submit a PR.

I think in a couple of weeks I'll have some spare time. There are some PRs pending that I need to review and merge and I'm delaying this too much. Sorry about this.

Thanks for your contribution.

[2016-08-20 14:55] Sabst commented on #56
Not really ready for a PR but I will consider it.
More step-back will be required to allow more PG Json/Jsonb/... options.
Ideally the plugin should provide access to all those great PG features!

[2016-08-23 19:21] sean7512 commented on #87
@karaken12 yes, its easy...I overrode it for my project as the existing database on my project uses ```text[]```, but it would be nice to be able to support both at the same time. I easily see a scenario where a database has a mix of them for some unknown reasons.

[2016-09-01 18:49] erichelgeson commented on #90
Grails 3.2.x line will be hibernate 5 by default. You can still use Hibernate 4 with this plugin and GORM6 by downgrading the hibernate version http://gorm.grails.org/6.0.x/hibernate/manual/index.html#hibernateVersions

[2016-09-15 04:05] AdrienGuichard opened #96 "getDirtyPropertyNames() returns all HstoreMapType fields, even if not dirty"
[code]

prints all HstoreMapType fields, even if none has been updated.

I am using org.grails.plugins:postgresql-extensions:4.6.6 with Grails 3.1.6.

Thanks for your support,
Adrien

[2016-10-03 09:34] loicgeo commented on #83
This a nice example and i used it thank you.
But if i want to extract the to_tsquery call, how to declare it in dialect functions (which org.hibernate.type i have to use)?

CharacterType
UrlType
CustomType
YesNoType
BigIntegerType
ShortType
BooleanType
IntegerType
StringType
NumericBooleanType
ByteType
LongType
TrueFalseType

[2016-10-04 11:18] rawi2 commented on #83
I couldn't follow my former project - because other tasks - so I didn't have the opportunity to deepen this matters any more.

But well, it's an interesting question, concerning postgresql and may be this plugin :)

A shot into the blue... never done:
For the FROM part of a SQL you'd have to declare a non persistent domain (static mapWith = "none") or a CommandObject or a POGO with a property 'que

[2016-10-18 10:08] sjjsvks opened #97 "Exception occurred: org.postgresql.util.PGobject cannot be cast to java.lang.String"
Domain Class (Product.groovy) :
----------------------------------------------
`import grails.converters.JSON
import grails.converters.XML
import net.kaleidos.hibernate.postgresql.hstore.Hstore
import net.kaleidos.hibernate.usertype.JsonbMapType
import net.kaleidos.hibernate.usertype.*

class Product {

    Long id
    @Hstore Map attrib
    Map config

    static mapping = {
        datasource 'A

[2016-10-18 12:08] ilopmar commented on #97
As you're using a Grails version with the patch applied you should map your `attrib` field to `HstoreMapType` instead of `HstoreType` and remove the `@Hstore` annotation on the field.

More info: https://github.com/kaleidos/grails-postgresql-extensions/tree/grails-2.x#grails-225-and-231

[2016-10-26 17:34] nsehgal opened #98 "PooledConnection has already been closed."
Getting this error when trying to save an ArrayType in Postgres 9.4

[2016-10-26 17:54] nsehgal commented on #98
Save works for the first time, but trying again throws PooledConnection has already been closed error!!

`ERROR org.hibernate.engine.jdbc.spi.SqlExceptionHelper - PooledConnection has already been closed.
ERROR org.grails.web.errors.GrailsExceptionResolver - SQLException occurred when processing request: [POST] /contract/save.json
PooledConnection has already been closed.. Stacktrace follows:
java

[2016-10-26 20:47] ilopmar commented on #98
I think this has nothing to do with the plugin. It seems that there's some issue connecting with the database. Could you please repeat the same test but with a domain class without and ArrayType?

[2016-10-27 23:05] nsehgal commented on #98
Thanks for the reply @ilopmar, I did the same test and it worked when there was no ArrayType save.

Versions of Hibernate and PostgreSQL Dependencies in my build.gradle

// Postgres
    compile 'org.postgresql:postgresql:9.4-1201-jdbc41'
    compile 'org.grails.plugins:postgresql-extensions:4.6.6'

//Hibernate
     classpath "org.grails.plugins:hibernate4:5.0.6"

    compile "org.grails.plugins:hi

[2016-10-27 23:06] nsehgal commented on #98
One more thing to add is my ArrayTypes are of type Enums

[2016-10-28 10:01] ilopmar commented on #98
Could you please create a small sample project that reproduce the issue, push it to github and share here the link. This way I'll be able to debug the error.

[2016-10-31 15:26] ilopmar commented on #92
Merged into master from PR #93 and released on `4.6.7`

[2016-10-31 15:26] #92 closed

[2016-10-31 15:27] ilopmar commented on #87
This change was included in #93 that is now merged on master. I've released the version `4.6.7` with this change.

[2016-10-31 15:27] #87 closed

[2016-10-31 15:32] ilopmar commented on #90
Done in PR #99 and released as a initial version on `5.0.0-RC1`

[2016-10-31 15:32] #90 closed

[2016-10-31 15:36] ilopmar commented on #96
Could you please create a sample application that reproduces the issue, upload to github and post here the link?

[2016-11-02 07:21] make opened #100 "Create sequence before table"
I am using following domain class mapping to enable direct SQL inserts.

[code]

When using dbCreate = 'update' in datasource table and sequence are automatically created when running 'grails run-app'.
The problem is that table is created first and causes error:
[code]

The workaround is to rerun "grails run-app".

Sequence should be created before table to fix that issue.

[2016-11-02 07:41] ilopmar commented on #100
Maybe I'm missing something but why are you doing this? When you say _to enable direct SQL inserts_ you mean to be able to do an insert *without* setting a value for the `id` column?

[2016-11-02 23:14] nsehgal commented on #98
@ilopmar Creating a sample made it clear its not the extensions plugin for the pooled connection error. Closing this issue.Thanks for ur help.

[2016-11-02 23:14] #98 closed

[2016-11-03 08:24] ilopmar commented on #98
Thank you for letting me know.

[2016-11-03 13:25] ilopmar commented on #56
PR #95 has been merged and ported also to Grails 3. I've released versions `4.6.2` for Grails 2 and `4.6.8` for Grails 3 with this new json criteria.

Closing this issue.

[2016-11-03 13:25] #56 closed

[2016-11-15 06:08] make commented on #100
Yes. I want to enable both manual SQL inserts and GORM inserts using the same auto-incrementing id sequence.

So mapping ```id defaultValue:"nextval('seq_foo')"``` should be declared to enable following to work
[code]

Equal GORM insert is
[code]

[2016-11-21 17:41] edwardotis opened #101 "How to set the default sequence name in grails 3.x version back to grails 2.x pattern?"
The default sequence name pattern has changed from grails 2 to 3, and this breaks the database migration plugin diffs. I have to manage the name by hand for each Domain class now.

Is there a way to set the default sequence naming pattern in Grails 3.x back to the 2.x style, so I don't have to manage this individually on each Domain class?

Thanks

--
Grails 2.x
Hibernate 4
org.postgresql:postgres

[2016-11-21 17:49] ilopmar commented on #101
Hi.

There's a warning on the documentation about this: https://github.com/kaleidos/grails-postgresql-extensions#configuration. Obviously it's not enough, sorry about that. I'm planning to migrate all the documentation to asciidoctor, so once I do that the warnings and notes should be easy to find.

![image](https://cloud.githubusercontent.com/assets/559192/20493833/b083a898-b01a-11e6-9e31-861f4c5

[2016-11-21 17:57] edwardotis commented on #101
Hi,

Actually, I read the part about hibernate 5. I realize I did not give enough info on my hibernate config. I'm still using hibernate 4 for both versions, though the library versions have been updated.

Old:
grails 2.5.5
liquibase database-migration:1.4.1
org.postgresql:postgresql:9.4.1207
postgresql-extensions:4.6.1
hibernate4:4.3.10
org.jadira.usertype:usertype.core:4.0.0.GA
Postgres 9.5
Java

[2016-11-21 18:02] ilopmar commented on #101
Could you please create a sample project with Grails 3.1.14 that reproduces the issue? The version `4.6.8` it's not compatible with Hibernate 5 and the sequence changes has not been applied:

https://github.com/kaleidos/grails-postgresql-extensions/blob/4.x/src/main/groovy/net/kaleidos/hibernate/PostgresqlExtensionsDialect.groovy#L73

[2016-11-21 19:38] edwardotis commented on #101
@ilopmar Thanks for finding that diff. Upon further investigation, this is almost certainly due to a bug in liquibase that is improperly re-generating changesets on existing schemas.
I see that the initial generation of the sequence name uses proper hibernate4 pattern.
The needless re-generation of the sequence uses the wrong pattern.
So, everything looks fine with the grails-postgresql-extensions

[2016-11-21 19:38] #101 closed

[2016-11-22 08:30] ilopmar commented on #101
Thank you!

[2017-02-14 10:20] nicsl0s opened #102 "Default serialize Enum Arrays to postgres arrays of strings"
When I'm using your example
`Juice[] favoriteJuices = []`

 I would like to end up in:

[code]

Is this already configureable?

[2017-02-14 10:31] ilopmar commented on #102
Which version are you using?

I think at some point we stored the cardinal of the enums but I'm not sure when we changed that.

[2017-04-19 17:27] cleydsonjr opened #103 "Add support for detached criterias"
It would be nice to be able to do queries such as:

`
def result = Like.where {
    pgArrayContains 'favoriteNumbers', numbers
}.get()
`

[2017-05-17 13:16] jglapa commented on #96
I'm seeing the same problem also with the `4.x.x` extension and Grails `3.2.6` and `hibernate4`.
But I prepared an example with Grails `3.2.6`, `hibernate5` and plugin `5.x.x`. Same thing.
Here's the project https://github.com/jglapa/hstore-dirty-property

just run it and hit the http://localhost:8080/testDomain/index URL then observe the console.
PS.
you need to have a `hstore_dirty_property` dat

[2017-05-17 13:30] ilopmar commented on #96
I don't know the internals of how dirty checking works but in the plugin we don't do anything special to support it. Actually we never thought about it.

I haven't used postgres in a while and I don't have enough spare time at this moment so I'm afraid I won't be able to try to fix this. If you have some time and want to send a PR that fixes this I'll make a new release.

[2017-05-18 20:38] jglapa commented on #96
hey @ilopmar I've submitted a PR https://github.com/kaleidos/grails-postgresql-extensions/pull/104 with short explanation.

[2017-05-21 21:54] ilopmar commented on #96
Merged PR #104

[2017-05-21 21:54] #96 closed

[2017-05-21 21:55] ilopmar commented on #96
Released version `5.0.1`

[2017-05-21 22:10] ilopmar commented on #96
Released also version`4.6.9` with the backported changes to 4.x branch

[2017-06-07 15:01] nicsl0s opened #106 "automatic dirty checking not working on array type"
In a grails app I have a domain class like this:
[code]
This used to work when using:
org.grails.plugins:postgresql-extensions:4.6.2
grails version 3.2.8
gorm version 6.0.9.RELEASE

This stopped working when using:
grails version 3.2.9
gorm version 6.1.4.RELEASE

Also using the org.grails.plugins:postgresql-extensions:5.1.0 did not change it.
The workaround was to add a markDirty() in the convenie

[2017-06-07 15:37] jglapa commented on #106
Don't have an answer but I recently discovered and fixed a similar dirty checking issue with `hstore` type in this plugin.
Perhaps you could read my explanation notes and debug it the same way? -> https://github.com/kaleidos/grails-postgresql-extensions/pull/104#issue-229797446

It might give you some hints where the dirty checking mechanism fails.
Looking at the definition of ArrayType here and t

[2017-06-19 09:45] ilopmar commented on #106
Hi.

Dirty-checking has changed and been improved on Gorm 6.1. You can see an explanation by Graeme on how it works here: https://github.com/grails/grails-data-mapping/issues/961

[2017-08-01 07:29] mhuebner commented on #106
I also encountered this issue. Setting a Map property via setter internally calls markDirty but when using leftShift operator to add add some stuff to the map this would not work.
[code]

[2017-08-07 13:47] animator013 commented on #106
Have also the same problem with Gorm 6.1.x.

[2017-08-07 14:46] mhuebner commented on #106
If you want a collection to be dirty checked you will have to call the setter or manually set markDirty() on the instance. I am using the first variant so I have not too much framework-specific code within my classes.

[2017-09-15 18:30] kyledobitz commented on #81
Related to this, when I include the plugin with a brand new grails 3.3 project that utilizes JsonMapType it fails to start with error:
java.lang.NoClassDefFoundError: Lcom/google/gson/Gson;

Seems to be referenced/imported here:
https://github.com/kaleidos/grails-postgresql-extensions/blob/0dd0f17b59eafcd3f512068f76a74fe4acc27748/src/main/groovy/net/kaleidos/hibernate/usertype/JsonMapType.groovy#L

[2017-10-10 08:05] gtors opened #108 "Travis build for OpenJDK7 is broken"
Build failed on downloading https://services.gradle.org/distributions/gradle-3.1-bin.zip

Details here: https://travis-ci.org/kaleidos/grails-postgresql-extensions/jobs/285665218

[2017-11-03 15:35] ilopmar commented on #108
There is an open issue on Travis about this: https://github.com/travis-ci/travis-ci/issues/8574

[2017-11-03 16:03] ilopmar commented on #108
Fixed here: https://github.com/kaleidos/grails-postgresql-extensions/commit/ab60a013bb8c5554c04422fffe1f553c308b1ef0

Travis build: https://travis-ci.org/kaleidos/grails-postgresql-extensions/builds/296857202

[2017-11-03 16:03] #108 closed

[2018-01-26 16:40] gaut4m commented on #50
Hello ilopmar,

I am having a similar issue. wondering if this feature is released yet?

Thank you,
Gautham

[2018-03-12 08:16] abcfy2 opened #111 "Would you please support hibernate 5.2 ?"
Thanks to this extension. My question is that would you plan to add support hibernate 5.2 ?

[2018-03-12 08:28] ilopmar commented on #111
There's a PR about it, but I'm not sure about its status: #110

[2018-03-15 18:36] abcfy2 opened #112 "Does not respond Map field ?"
Doamin:

[code]

controller:
[code]

Will not show `data` field as it's a Map field.

[2018-05-09 02:13] abcfy2 opened #113 "Why int value in jsonb mapped to double ?"
Here is my jsonb velue:

[code]

But when I get from domain, I find it has been converted to to double, why ?

[code]

[2018-05-09 06:01] ilopmar commented on #113
Is the field `orderId` defined as `int` or `Integer` in the domain class?

[2018-05-09 06:30] abcfy2 commented on #113
No, the params is a `Map` which type is `JsonbMapType`

[code]

And seems that `save()` works very well.

[code]

And in postgresql this column is :

[code]

But when I read it from domain ,the int value is float:

[code]

[2018-05-12 03:45] abcfy2 commented on #113
New discovery, I find sometimes int value saved to jsonb will convert to float.

Here is my SQL:

[code]
But in fact all id should be int.

[code]

[2018-06-05 07:50] donbeave commented on #111
@abcfy2 I think you can close this issue and wait for merge of this PR (which include your fixes also): https://github.com/kaleidos/grails-postgresql-extensions/pull/114

[2018-06-05 07:53] abcfy2 commented on #111
OK

[2018-06-05 07:53] #111 closed

[2018-07-18 12:19] masterpradipg opened #116 "Unable to create grails 3.3.5 apps which supports Json/Jsonb type. can someone provide me working example of grails 3.3.5 project with jsonb supports in domain."

[2018-08-30 14:36] odubinkin commented on #23
Hi,
Is it possible that you will add support for inet type in the near future?

[2018-09-05 06:45] ilopmar commented on #23
Hi @odubinkin, I don't plan to work on this in the near future but if you submit a PR with the changes I will review, merge it and release a new version with that feature.

[2018-09-24 21:06] #30 closed

[2018-10-11 16:47] abcfy2 opened #118 "How does OrderBySqlFormula support prepared statement?"
I find [`OrderBySqlFormula`](https://github.com/kaleidos/grails-postgresql-extensions/blob/master/src/main/groovy/net/kaleidos/hibernate/order/OrderBySqlFormula.groovy) class support `ORDER BY` native sql, but how to use prepared statement? I think it's useful.

[2018-10-12 09:32] abcfy2 opened #119 "Support Criterias to work with DetachedCriteria ?"
Like this:

[code]

I think it's cool.

[2018-10-15 15:08] ilopmar commented on #118
I haven't taken a look into this and I'm not sure if it would be possible or not.

[2018-10-15 15:09] ilopmar commented on #119
Duplicates #103

[2018-10-15 15:09] #119 closed

[2018-10-30 00:44] rkimaoui commented on #116
i have the same error, did you find a solution ?

[2018-12-10 06:04] ChiranjibKarn opened #120 "Grails 3.3.8 multiple datasources along with mongodb."
We have a running REST application in Grails 3.3.8 with default dataSource as mongodb. Now we want to use a secondary dataSource as Postgresql (to dump custom logs, which is more relational). Am trying to use Grails plugin postgresql-extensions 4.8.0 but am getting following error on application boot time

org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with n

[2018-12-18 21:50] tekells-usgs commented on #116
I have the same error with Grails 3.3.9 (and 3.3.8) and postgresql-extensions:6.1.0.
That is, it fails trying to run grails commands (including dbm-gorm-diff) with an NPE related to the line in domain classes mapping for the data type.
`data type: JsonbMapType`
It fails like this for all data types added by this dialect that I tried.

However, this works fine with postgresql-extensions:4.6.5 with

[2018-12-27 09:57] kevintanhongann opened #121 "How to translate grails.gorm.default.mapping to application.yml file?"
[code]

How to translate this to be inserted in the application.yml file in Grails 3? It's not documented in the guide at all.

[2018-12-27 10:51] ilopmar commented on #121
Not really sure about it because `id` is a method with different parameters: `generator` and `params`.
Can you please explain your use case? Why can't you use `application.groovy` for this configuration?

[2019-03-10 06:13] #121 closed

[2019-07-09 16:03] jamesdh opened #122 "Support Grails 4.x"
Just curious if there is any plan to release a version supporting Grails 4.x+?

[2019-07-09 16:05] ilopmar commented on #122
I'm not using the plugin anymore and I'm pretty busy at this moment so I expect a contribution from the community that upgrades the plugin to Grails 4.x
To be honest I think the only changes required will be because of Hibernate 5.4 and not because of Grails 4.

[2019-07-09 18:55] jamesdh commented on #122
@ilopmar I forked it and went ahead upgrading it at https://github.com/jamesdh/grails-postgresql-extensions. I'll hold off on submitting a PR until a final version of Grails 4.0 is released. If you have any other suggestions, I'm all ears!

[2019-07-09 19:14] ilopmar commented on #122
That was fast, thank you very much. Don't worry to much about the PR, just make sure all the tests pass. I can clean it up after merge it.

[2019-07-29 19:33] #122 closed

[2019-10-02 14:51] Noxville opened #124 "Grails 4.0.0 Sequence-per-table configuration"
According to the installation guide it says:

[code]

This seems a bit weird/outdated/incorrect since my application.groovy looks like a spring boot boilerplate main (https://gist.github.com/Noxville/1a5232908f2fd19296261607a7244435).

[2019-10-02 14:58] ilopmar commented on #124
That comment refers to `./grails-app/conf/application.groovy` and not `./grails-app/init/.../Application.groovy`

[2019-10-02 15:30] ilopmar commented on #124
Fixed by @erichelgeson in https://github.com/kaleidos/grails-postgresql-extensions/pull/125

[2019-10-02 16:34] Noxville commented on #124
Hey there, thanks for that fix @ilopmar, however even with that I'm still not seeing correctly generated sequences per table. Here's a gist with the relevant files: https://gist.github.com/Noxville/87e583d9a4340804a15afc75a87b0a81

[2019-10-02 17:12] ilopmar commented on #124
@Noxville I haven't tried it with Grails 4. TBH I don't use it now but I keep maintaining it and merging PR from the community.

@erichelgeson have you tried the plugins with Grails 4 and the sequence per table?

[2019-10-17 13:44] theiosdevguy commented on #50
Hi @ilopmar

You mentioned you were working on this feature. Did you get a chance to finalise it?

[2020-02-13 16:55] wiggitamoo commented on #116
I am seeing this issue. Below is my setup:
Grails 3.3.11
postgresql-extensions:7.0.0

build.gradle
[code]

application.yml
[code]

domain
[code]

error
[code]

This seems to relate to the line `info type: JsonbMapType, sqlType: 'jsonb'`

[2020-04-21 11:03] abcfy2 opened #126 "NativeQuery does not support jsonb?"
Grails 3.3.10 with java 8

Here is a sample:

[code]

Then query with native sql:

[code]

Will get this error:

[code]

[2020-06-16 01:19] jameskhedley commented on #116
Me too, identical setup to @wiggitamoo - can someone look at this please? It seems the plugin is pretty broken with a standard setup.

[2020-06-16 07:39] ilopmar commented on #116
If anyone find the issue and sends a PR I gladly review, merge it and release a new version; but at this moment I don't have time to work on this anymore.

[2020-06-16 09:15] jameskhedley commented on #116
@ilopmar point me in the right direction and I'll have a crack at it.

[2020-06-16 09:26] ilopmar commented on #116
@jameskhedley Not really sure. The best place is putting a breakpoint in the NPE and then take a look why it's failing. Maybe it's something that was changed in Grails and the fix needs to be there...

[2020-06-17 23:29] jameskhedley commented on #116
Well it seems to work ok with version 5.3, think everyone in this issue is trying to cross versions 6 or 7,  with grails 3.3.x, lolol. I think the docs just need improvement, lots of people seem to be making the same mistake.

[2020-09-28 07:58] kevintanhongann opened #127 "Port to work with Micronaut and hibernate-gorm"
The concept of this plugin is very useful, hopefully this can be ported to Micronaut and work with hibernate-gorm. Thanks.

[2020-12-24 09:37] abcfy2 opened #128 "java.lang.NoClassDefFoundError: org/apache/commons/lang/ObjectUtils"
Grails 4.0.5 will raise this exception:

[code]

https://github.com/kaleidos/grails-postgresql-extensions/blob/c52b0ffd08b799b0d92afae16247bee38e0415a2/src/main/groovy/net/kaleidos/hibernate/usertype/JsonMapType.groovy#L38

Seems that this extension still use the old version of `apache-common`(`'commons-lang:commons-lang:2.6'`), but grails 4 bump the version to `commons-lang3:3.8`. So I think you

[2021-02-17 15:51] lopardo commented on #127
Just wondering, what would be required to make this work with Spring Boot + GORM, or Micronaut + GORM? Thanks.

[2021-06-15 07:45] ShurikAg opened #129 "GrailsDomainBinder is looping 10s of times and the fails with exception"
I just upgraded the app to Grails 4 and tried configuring the extensions.
Overall the extensions are not working at all.

When I try to run the app I am getting an infinite loop on hibernate domain binder:

[code]

Well, almost infinite... Eventually, everything fails with the following exception:
[code]

[2022-03-30 17:10] dfrt82 commented on #113
I second that. Very annoying, took me a while to track that down...

[2022-08-29 06:50] krishnact commented on #113
It looks like a problem with GSON. Please see https://github.com/google/gson/pull/1290
The class net.kaleidos.hibernate.usertype.JsonMapType needs to be changed on line 24 from:
private final Gson gson = new GsonBuilder().serializeNulls().create()
to
Gson gson = new GsonBuilder().serializeNulls().setObjectToNumberStrategy(ToNumberPolicy.LONG_OR_DOUBLE).create();